@media screen and (max-width: 767px) {

  /* 共通 */
  body {
    font-size: 14px;
  }

  .container {
    padding-left: 25px;
    padding-right: 25px;
  }

  /* ヘッダー */
  .header {
    height: 72px;
  }

  .header-logo>a>img {
    width: 104px;
  }

  .header-gnav-btn {
    display: block;
  }

  .header-gnav {
    display: none;
  }

  .header-gnav-bar {
    display: block;
    height: 3px;
    background-color: black;
  }

  .m-top {
    width: 22px;
  }

  .m-middle {
    width: 30px;
    margin-top: 8px;
    margin-bottom: 8px;
  }

  .m-bottom {
    width: 23px;
  }

  /* メインビジュアル */
  .mv {
    background: url(../img/mv_bg_sp.png);
    background-position: 0 bottom;
    background-repeat: no-repeat;
    background-size: contain;
  }

  .mv-container {
    margin-top: 72px;
    padding-top: 50px;
  }

  .mv-area {
    flex-direction: column;
    align-items: center;
  }

  .mv-box {
    text-align: center;
  }

  .mv-box p:first-child {
    font-size: 25px;
    padding-top: 0px;
  }

  .mv-img {
    padding-top: 25px;
    width: 100%;
  }

  .scroll-icon {
    padding-top: 30px;
  }

  .scroll-icon::after {
    margin-bottom: 40px;
  }

  /* TODO:コンテナのボトムか、スクロールのボトム修正 */

  /* Aboutセクション */
  .about-container {
    padding-top: 120px;
    padding-bottom: 0;
  }

  .about-body {
    width: 100%;
    padding-bottom: 50px;
  }

  .about-description {
    padding-top: 3px;
    font-size: 20px;
    letter-spacing: 0.16em;
  }

  .about-description-detail {
    font-size: 14px;
    letter-spacing: 0.1em;
  }

  .board-jp {
    letter-spacing: 0.1em;
  }

  .about-box {
    flex-direction: column-reverse;
    padding-top: 0;
    padding-bottom: 100px;
    /* padding-bottom: 90px; */
  }

  .about-img {
    /* 390/1040 */
    width: 100%;
  }


}