@media screen and (max-width: 767px) {

  /* 共通 */
  .cv-btn-box {
    width: 325px;
  }

  /* ヘッダー */
  .header-gnav-btn {
    display: block;
  }

  .header-gnav {
    display: none;
  }

  .header-gnav-bar {
    display: block;
    height: 3px;
    background-color: black;
  }

  .m-top {
    width: 22px;
  }

  .m-middle {
    width: 30px;
    margin-top: 8px;
    margin-bottom: 8px;
  }

  .m-bottom {
    width: 23px;
  }

  .about-container {
    max-width: 325px;
  }

  /* Featureセクション */
  .feature-container {
    padding-top: 124px;
    max-width: 295px;
    padding-bottom: 102px;
  }

  .feature {
    flex-direction: column;
    width: 100%;
    padding-bottom: 0;
  }

  .feature:not(:last-child) {
    padding-bottom: 85px;
  }

  .feature:nth-of-type(even) {
    flex-direction: column;
  }

  .section-title-jp {
    padding-bottom: 66px;
  }

  .feature-img {
    padding-top: 4px;
    width: 100%;
  }

  .feature-txt-box {
    width: 100%;
  }

  .feature-txt-title {
    font-size: 20px;
    padding-bottom: 10px;
    letter-spacing: 0.13em;
  }

  .feature-txt {
    font-size: 14px;
  }

  /* FAQセクション */
  .faq-container {
    max-width: 295px;
    padding-top: 122px;
    padding-bottom: 97px;
  }

  .m-faq-jp {
    padding-bottom: 60px;
  }

  .question {
    font-size: 14px;
    padding-top: 30px;
    padding-bottom: 30px;
    letter-spacing: 0.15em;
  }

  .question:nth-of-type(3) {
    padding-top: 28px;
    padding-bottom: 29px;
  }

  .answer {
    font-size: 14px;
    padding-bottom: 28px;
  }

  .question::before {
    width: 20px;
  }

  .question:not(:first-child)::after {
    width: 20px;
  }

  /* Devicesセクション */
  .devices-container {
    padding-top: 122px;
    max-width: 255px;
    padding-bottom: 145px;
  }

  .devices-list {
    flex-direction: column;
    align-items: center;
    gap: 28px;
  }

  .devices-title {
    padding-bottom: 70px;
  }

  .bg {
    height: 610px;
    bottom: 100px;
  }

  .devices-item {
    width: 100%;
  }

  .devices-item>p {
    padding-bottom: 10px;
    font-size: 15px;
    font-weight: 700;
  }

  /* フッター */
  .footer-container {
    padding-top: 70px;
    max-width: 325px;
    padding-bottom: 40px;
  }

  .footer-nav {
    flex-direction: column;
    align-items: center;
    gap: 15px;
    padding-bottom: 100px;
  }

  .footer-nav>a:not(:nth-of-type(4)):not(:last-child)::after {
    display: none;
  }

  .footer-nav>a {
    padding-right: 0;
  }

  .copyright {
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    width: max-content;
  }
}

@media screen and (max-width: 1023px) {

  /* 共通 */
  body {
    font-size: 14px;
  }

  .container {
    padding-left: 25px;
    padding-right: 25px;
  }

  .section-title {
    padding-bottom: 9px;
  }

  /* ヘッダー */
  .header {
    height: 72px;
  }

  .header-container {
    padding-left: 15px;
    padding-right: 15px;
  }

  .header-logo>a>img {
    width: 104px;
  }

  /* メインビジュアル */
  .mv {
    background: url(../img/mv_bg_sp.png);
    background-position: 0 bottom;
    background-repeat: no-repeat;
    background-size: contain;
  }

  .mv-container {
    margin-top: 72px;
    padding-top: 50px;
  }

  .mv-area {
    flex-direction: column;
    align-items: center;
  }

  .mv-box {
    text-align: center;
  }

  .mv-box p:first-child {
    font-size: 25px;
    padding-top: 0px;
    line-height: 1.5;
  }

  .mv-box p:nth-of-type(2) {
    margin-bottom: 55px;
    padding-top: 12px;
    font-weight: 700;
    letter-spacing: 0.15em;
  }

  .mv-img {
    padding-top: 25px;
    width: 325px;
  }

  .scroll-icon {
    padding-top: 35px;
  }

  .scroll-icon::after {
    margin-bottom: 34px;
  }

  /* Aboutセクション */
  .about-container {
    padding-top: 90px;
    max-width: 700px;
    padding-bottom: 102px;
  }

  .about-body {
    width: 100%;
  }

  .m-about {
    padding-left: 0;
  }

  .about-description {
    padding-top: 3px;
    font-size: 20px;
    letter-spacing: 0.16em;
    padding-left: 0;
  }

  .about-description-detail {
    font-size: 14px;
    letter-spacing: 0.1em;
    padding-left: 0;
  }

  .board-jp {
    letter-spacing: 0.1em;
  }

  .about-box {
    flex-direction: column-reverse;
    align-items: center;
  }

  .about-img {
    /* 390/1040 */
    width: 325px;
    padding-top: 45px;
  }

  /* Bottomセクション */
  .cv-container {
    flex-direction: column;
    align-items: center;
    padding-top: 100px;
    padding-bottom: 100px;
  }

  .cv-img {
    width: 325px;
  }

  .logo-white-img {
    width: 104px;
    padding-top: 20px;
    padding-bottom: 15px;
  }

  .cv-box {
    width: 100%;
    padding-top: 0;
    padding-bottom: 25px;
  }

  .cv-box>p {
    padding-top: 0px;
    padding-bottom: 55px;
  }
}