/* 共通 */
body {
  font-size: 15px;
  letter-spacing: 0.1em;
  line-height: 1.7;
  color: #000;
  font-family: "Noto Sans JP", "Yu Gothic", "ヒラギノ角ゴシック",
    "Hiragino Sans", "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN",
    "游ゴシック", YuGothic, "メイリオ", Meiryo, "源ノ角ゴシック JP", sans-serif;
  font-weight: 500;
}

* a:hover {
  opacity: 0.6;
}

.anchor {
  display: block;
  padding-top: 70px;
  margin-top: -70px;
}

.container {
  display: block;
  box-sizing: content-box;
  margin: 0 auto;
  padding-left: 48px;
  padding-right: 48px;
}

.section-title {
  padding-bottom: 7px;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  line-height: 1.5;
  display: flex;
  align-items: center;
}

.section-title::after {
  content: "";
  width: 75px;
  height: 2px;
  display: block;
  background-color: #ec5f5c;
  margin-left: 10px;
}

.section-title:not(.m-about), .section-title-jp {
  display: flex;
  align-items: center;
  justify-content: center;
}

.cv-btn-box {
  width: 330px;
  display: flex;
  justify-content: space-between;
}

.cv-btn-box>a:first-child>img {
  width: 138px;
  height: 50px;
}

.cv-btn-box>a:last-child>img {
  width: 168px;
  height: 50px;
}

.section-title-jp {
  font-size: 18px;
  font-weight: 700;
  line-height: 1.5;
  padding-bottom: 130px;
}

/* ヘッダー */
.header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100%;
  height: 115px;
  margin: 0 auto;
  background-color: #fff;
}

.header-container {
  max-width: 1260px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;
}

.header-logo {
  width: 130px;
}

.header-logo a {
  display: flex;
}

.header-gnav-list {
  display: flex;
}

.header-gnav-item:not(:last-child) {
  margin-right: 40px;
}

.header-gnav-item>a {
  color: #000;
  text-decoration: none;
}

.header-gnav-btn {
  display: none;
}

/* メインビジュアル */
.mv {
  background: url(../img/mv_bg.png);
  background-position: 0 bottom;
  background-repeat: no-repeat;
  background-size: contain;
}

.mv-container {
  margin-top: 115px;
  padding-top: 30px;
  max-width: 1040px;
  padding-bottom: 10px;
}

.mv-area {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.mv-box {
  /* 344/1040 */
  width: max-content;
}

.mv-box p:first-child {
  font-size: 35px;
  font-weight: 700;
  padding-top: 147px;
  letter-spacing: 0.11em;
}

.mv-box p:nth-of-type(2) {
  margin-bottom: 55px;
  padding-top: 2px;
}

.mv-img {
  /* 580/1040 */
  width: 55.7%;
}

.scroll-icon {
  text-align: center;
  color: #fff;
  padding-top: 140px;
  font-family: "Roboto", sans-serif;
  font-size: 12px;
}

.scroll-icon::after {
  content: "";
  width: 1px;
  height: 30px;
  background-color: #fff;
  display: block;
  margin: 1px auto 0;
}

/* Aboutセクション */
.about {
  background-color: #ec5f5c;
}

.about-container {
  padding-top: 140px;
  max-width: 1040px;
  padding-bottom: 230px;
}

.about-box {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.about-img {
  /* 390/1040 */
  width: 37.5%;
}

.about-body {
  color: #fff;
  padding-top: 30px;
  /* 455/1040 */
  width: 43.7%;
}

.m-about {
  padding-left: 20px;
}

.m-about::after {
  content: "";
  background-color: #fff;
}

.about-description {
  font-size: 25px;
  line-height: 1.5em;
  padding-bottom: 38px;
  padding-left: 20px;
}

.board {
  font-family: "Roboto", sans-serif;
}

.board-jp {
  letter-spacing: 0.23em;
}

.about-description-detail {
  letter-spacing: 0.13em;
  padding-left: 15px;
}


/* Featureセクション */
.feature-container {
  padding-top: 100px;
  max-width: 820px;
  padding-bottom: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.feature:nth-of-type(even) {
  flex-direction: row-reverse;
}

.features {
  width: 100%;
  display: flex;
  flex-direction:column;
  justify-content:space-between;
}

.feature {
  display: flex;
  justify-content: space-between;
}

.feature:not(:last-child) {
  padding-bottom: 120px;
}

.feature-txt-num {
  padding-top: 10px;
  font-size: 40px;
  font-family: "Roboto", sans-serif;
  color: #ec5f5c;
  line-height: 1;
}

.feature-img {
  /* 380/820 */
  width: 46.3%;
}

.feature-txt-box {
  /* 400/820 */
  width: 48.7%;
}

.feature-txt-title {
  font-size: 20px;
  padding-bottom: 15px;
  letter-spacing: 0.13em;
}

/* FAQセクション */
.faq {
  background-color: #2f2e41;
  color: #fff;
}

.faq-container {
  padding-top: 100px;
  max-width: 750px;
  padding-bottom: 100px;
}

.question {
  font-weight: 700;
  padding-top: 42px;
  padding-bottom: 40px;
  border-bottom: solid #fff 1px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}

.question::before {
  content: "";
  display: inline-block;
  width: 28px;
  height: 2px;
  background-color: #fff;
  position: absolute;
  right: 0;
}

.question:not(:first-child)::after {
  content: "";
  display: inline-block;
  width: 28px;
  height: 2px;
  background-color: #fff;
  transform: rotate(90deg);
}

.question:first-child {
  border: none;
  padding-top: 0;
  padding-bottom: 20px;
}

.answer {
  padding-bottom: 37px;
  border-bottom: solid #fff 1px;
}

/* Devicesセクション */
.devices {
  position: relative;
}

.bg {
  width: 100%;
  height: 220px;
  background-color: #fff8f8;
  position: absolute;
  bottom: 105px;
  z-index: -1;
}

.devices-container {
  padding-top: 100px;
  max-width: 820px;
  padding-bottom: 165px;
}

.devices-list {
  display: flex;
  width: 100%;
  justify-content: space-between;
  list-style: none;
}

.devices-item {
  width: calc(1 / 3 * 100% - 35px * 2 / 3);
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  background-color: #fff;
  display: flex;
  flex-direction:column;
  align-items: center;
}

.device-img {
  width: 80%;
  padding-top: 15px;
  padding-bottom: 10px;
}

.devices-item > p {
  text-align: center;
  padding-bottom: 12px;
}

/* bottom */
.cv {
  background-color: #ec5f5c;
  color: #fff;
}

.cv-container {
  padding-top: 100px;
  max-width: 820px;
  padding-bottom: 100px;
  display: flex;
  justify-content: space-between;
}

.cv-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 122px;
  /* 330/820 */
  width: 40.2%;
}

.cv-box>p {
  padding-top: 12px;
  padding-bottom: 28px;
  font-size: 25px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.12em;
  padding-left: 5px;
}

.cv-img {
  /* 440/820 */
  width: 53.6%;
}

/* フッター */
.footer {
  background-color: #2f2e41;
}

.footer-container {
  padding-top: 40px;
  max-width: 1260px;
  padding-bottom: 20px;
  position: relative;
}

.footer-nav {
  display: flex;
  flex-wrap: wrap;
  max-width: 600px;
  font-size: 14px;
  letter-spacing: 0.09em;
  padding-bottom: 50px;
  line-height: 2;
  color: #fff;
}

.footer-nav>a {
  padding-right: 20px;
  display: flex;
  align-items: center;
}

.footer-nav>a:not(:nth-of-type(4)):not(:last-child)::after {
  content: "";
  width: 1px;
  height: 15px;
  background-color: #fff;
  display: block;
  margin-left: 20px;
}

.copyright {
  color: #515061;
  position: absolute;
  bottom: 40px;
  right: 48px;
  font-family: "Roboto", sans-serif;
  font-size: 12px;
  letter-spacing: 0.09em;
}